{
    "presets": ["@babel/env", "@babel/react"],
    // "plugins": ["@babel/syntax-dynamic-import"],
    "env": {
        "test": {
            "plugins": ["@babel/syntax-dynamic-import"]
        }
    }
}